{% load static %}

{%block diary_1%}
	<h2>
		Code With Sleep
	</h2>
	<h4>
		31 Agustus 2015
	</h4>

	<p>
		Hope to be for a better future, i always learn hardfully when i was learn at UDINUS university. 
		Anything, anywhere, anytime i always make a lots of code programs.
		Started from wake up on 5.00 am i have been touch my codes until 01.00 am.
		Those what make me always so tired and looks sleepy at public places.
		After all of those process, now i have a lots of talents, I can make programs anything of course.
	</p>
	
	<a href="{%static 'img/code_with_sleep.jpg'%}">	
		<img id="myImg" src="{%static 'img/code_with_sleep.jpg'%}" alt="Computer Man" style="width:70%; width:70%;" align="left" title="I am when still learn at UDINUS University">
	</a>
	
{%endblock%}