{% load static %}

{%block diary_2%}
	<h2>
		Maybe I think I love you
	</h2>
	<h4>
		8 Juli 2015
	</h4>
	
	<a href="{%static 'img/I_think_i_love_you.jpg'%}">	
		<img src="{%static 'img/I_think_i_love_you.jpg'%}" style="width:70%; width:70%;" align="center" title="Me when feeling love">
	</a>
	
	<p>
	<br/>
		First time when I study at UDINUS, early semester, more precisely in 2013, I was joined with a organization that named
		DNCC ( Dian Nuswantoro Computer Club ). This organization focused in computer hobbiest. in this organization I meet with someone
		thats looks very beautyfully but I don't know her name.
	</p>
	<p>
		Take along time precisely in 2014 I meet her in new organization when I was delecated by DNCC to be 
		part of MPM and for her i joined and hopefully could got her love.
	</p>
{%endblock%}