{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>rose</title>
		<link rel="shortcut icon" href="{%static 'img/rose.png'%}" type="image/x-icon">
		 
		<meta name="description" content="website description" />
		<meta name="keywords" content="website keywords, website keywords" />
		<meta http-equiv="content-type" content="text/html; charset=windows-1252" />
		<link rel="stylesheet" type="text/css" href="{%static 'style/style.css'%}" />
	</head>

	<body>
		<div id="main">
			<div id="header">
				<div id="logo">
					<div id="logo_text">
						<!-- class="logo_colour", allows you to change the colour of the text -->
						<h1><a href="#">rose<span class="logo_colour">tech</span></a></h1>
						<h2>Based education to share anything for us</h2>
					</div>
				</div>
				
				<div id="menubar">
					<ul id="menu">
						<!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
						
						{%if content == 'index'%}
							<li class="selected"><a href={{site}}>Home</a></li>
							{%else%}
								<li><a href={{site}}>Home</a></li>
						{%endif%}
						
						{%if content == 'diary'%}
							<li class="selected"><a href="{{site}}diary/">My Diary</a></li>
							{%else%}
								<li><a href="{{site}}diary/">My Diary</a></li>
						{%endif%}
						
						{%if content == 'electronic'%}
							<li class="selected"><a href="{{site}}electronic/">Electronic</a></li>
							{%else%}
								<li><a href="{{site}}electronic/">Electronic</a></li>
						{%endif%}
						
						{%if content == 'computer'%}
							<li class="selected"><a href="{{site}}computer/">Computer</a></li>
							{%else%}
								<li><a href="{{site}}computer/">Computer</a></li>
						{%endif%}
						
						{%if content == 'about_me'%}
							<li class="selected"><a href="{{site}}about_me/">About Me</a></li>
							{%else%}
								<li><a href="{{site}}about_me/">About Me</a></li>
						{%endif%}
						
					</ul>
				</div>	  
			</div>
			
			
			<div id="content_header"></div>				
			<div id="site_content">
				<!--
				<div id="sidebar_container">
					<div class="sidebar">
						<div class="sidebar_top"></div>
						<div class="sidebar_item">
							<h3>Search</h3>
							<form method="post" action="#" id="search_form">
								<p>
									<input class="search" type="text" name="search_field" value="Enter keywords....." />
									<input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="{%static 'style/search.png'%}" alt="Search" title="Search" />
								</p>
							</form>
						</div>
						<div class="sidebar_base"></div>
					</div>
					
					<div class="sidebar">
						<div class="sidebar_top"></div>
						<div class="sidebar_item">
							
							<h3>Latest News</h3>
							<h4>New Website Launched</h4>
							<h5>January 1st, 2010</h5>
							<p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
						</div>
						<div class="sidebar_base"></div>
					</div>
					
					<div class="sidebar">
						<div class="sidebar_top"></div>
						<div class="sidebar_item">
							<h3>Useful Links</h3>
							<ul>
								<li><a href="#">link 1</a></li>
								<li><a href="#">link 2</a></li>
								<li><a href="#">link 3</a></li>
								<li><a href="#">link 4</a></li>
							</ul>
						</div>
						<div class="sidebar_base"></div>
					</div>
					
				</div>
				-->
				<div id="content">
					{%if content == 'index'%}
						{%block home_1%}
							{%include "home/home_1.html"%}
						{%endblock%}
					{%endif%}
					
					{%if content == 'diary'%}
						{%block diary%}
							{%include "diary/diary.html"%}
						{%endblock%}
					{%endif%}
				</div>				
			</div>			
		
			<div id="content_footer"></div>
			<div id="footer">
				<!--p><a href="index.html">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.html">Contact Us</a></p-->
				<!--p>Copyright &copy; simplestyle_4 | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p-->
				<br/>
				<p>Copyright &copy; rosetech 2017</p>
			</div>
			
		</div>
	</body>
</html>
